@import url('https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css');
@import './customs.css';
@import './animations.css';
@import './fonts.css';
@import './responsive.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(184, 184, 184);
}
